#App {
  margin-top: 62px;
  background-color: rgb(252, 252, 249);
}
/* h1 {
  color: dodgerblue;
} */
#background {
  margin: 0;
  padding: 0;
  background-image: url("/public/HomePagePhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  height: 91vh;
}

#home-text {
  position: absolute;
  margin-top: 18vh;
  left: 2vh;
  color: aliceblue;
  font-size: calc(1rem + 0.5vw);
  max-width: calc(5vh + 45vw);
}
#title {
  font-size: calc(1rem + 2vw + 2vh);
}

.subtitle {
  text-align: center;
  font-size: calc(1rem + 1vh);
  font-weight: bold;
}

.circular-Img {
  border-radius: 50%;
}

.logo {
  width: calc(3vh + 1vw);
}

.icon {
  width: calc(1rem + 3vw);
}
.icon-big {
  width: calc(1rem + 4vw + 3vh);
  margin-right: 15px;
  margin-left: 0;
}

.bold {
  font-weight: bold;
}

p {
  text-align: justify;
}

.dFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.dFlex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.dFlexVertical {
  display: flex;
  flex-direction: column;
}

.dFlex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.display-count {
  background-image: url("/public/Projects/photo-1488521787991-ed7bbaae773c.jpg");
  width: 100%;
  height: 20%;
  background-size: cover;
  z-index: -1;
  -webkit-text-stroke: 1px rgb(22, 22, 22);
}
.dark {
  background-color: rgb(53, 52, 52);
  color: white;
  padding: 3%;
  border-radius: 5px;
}

.cursor {
  cursor: pointer;
}

.red {
  color: red;
}
.green {
  color: green;
}
.yellow {
  color: rgb(183, 183, 9);
}
.blue {
  color: blue;
}

.profileCard {
  display: flex;
  text-overflow: ellipsis;
  overflow-y: auto;
}
/* .profileCard::-webkit-scrollbar {
  width: 0 !important;
} */

.overflow {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slideImg {
  width: 80vw;
  height: 80vw;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 480px) {
  .slideImg {
    width: 80vh;
    height: 80vh;
    object-fit: cover;
    object-position: center;
  }
}
@media screen and (min-width: 480px) {
  #title {
    max-width: calc(5vh + 30vw);
  }
}
